---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/secret.json
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: alertmanager-oidc-credentials
stringData:
  client-id: ${OIDC_ALERTMANAGER_CLIENT_ID}
  client-secret: ${OIDC_ALERTMANAGER_CLIENT_SECRET}
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/secret.json
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: prometheus-oidc-credentials
stringData:
  client-id: ${OIDC_PROMETHEUS_CLIENT_ID}
  client-secret: ${OIDC_PROMETHEUS_CLIENT_SECRET}
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  interval: 1h
  values:
    cleanPrometheusOperatorObjectNames: true

    crds:
      enabled: true
      upgradeJob:
        enabled: true

    global:
      rbac:
        create: true

    alertmanager:
      enabled: true
      alertmanagerSpec:
        externalURL: "https://alertmanager.${CLUSTER_DOMAIN}"
        storage:
          volumeClaimTemplate:
            spec:
              storageClass: longhorn
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 1Gi
      route:
        main:
          enabled: true
          hostnames: [ "alertmanager.${CLUSTER_DOMAIN}" ]
          parentRefs:
            - name: external
              namespace: gateway
          labels:
            cluster.routine.sh/oidc-credentials: alertmanager-oidc-credentials

    grafana:
      enabled: false
      forceDeployDashboards: true

    prometheus:
      enabled: true
      route:
        main:
          enabled: true
          hostnames: [ "prometheus.${CLUSTER_DOMAIN}" ]
          parentRefs:
            - name: external
              namespace: gateway
          labels:
            cluster.routine.sh/oidc-credentials: prometheus-oidc-credentials
      prometheusSpec:
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClass: longhorn
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 16Gi

    # monitoring sources
    coreDns:
      enabled: true
    kubeDns:
      enabled: false
    kubeEtcd:
      enabled: true
    kubeProxy:
      enabled: true
    kubeStateMetrics:
      enabled: true
    kubernetesServiceMonitors:
      enabled: true
    kubeApiServer:
      enabled: true
    kubelet:
      enabled: true
    nodeExporter:
      enabled: true
    kubeControllerManager:
      enabled: false
    kubeScheduler:
      enabled: false
    windowsMonitoring:
      enabled: false

    defaultRules:
      create: true
    # customRules:
