---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: administrative-user
stringData:
    username: "${USER_USERNAME}"
    password: "${SERVICES_INIT_PASSWORD}"
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  interval: 1h
  values:
    cleanPrometheusOperatorObjectNames: true

    crds:
      enabled: true
      upgradeJob:
        enabled: true

    global:
      rbac:
        create: true

    alertmanager:
      enabled: true
      alertmanagerSpec:
        externalURL: "https://${ALERTMANAGER_INGRESS_HOST}"
        storage:
          volumeClaimTemplate:
            spec:
              storageClass: longhorn
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 1Gi
      route:
        main:
          enabled: true
          hostnames: [ "${ALERTMANAGER_INGRESS_HOST}" ]
          parentRefs:
            - name: external
              namespace: gateway
          labels:
            cluster.routine.sh/authorization: "authelia"

    grafana:
      enabled: true
      admin:
        existingSecret: administrative-user
        userKey: username
        passwordKey: password
      defaultDashboardsEnabled: true
      defaultDashboardsTimezone: "${CLUSTER_TIMEZONE}"
      additionalDataSources:
        - name: Loki
          type: loki
          access: proxy
          url: http://loki:3100
          isDefault: false
      route:
        main:
          enabled: true
          hostnames: [ "${GRAFANA_INGRESS_HOST}" ]
          parentRefs:
            - name: external
              namespace: gateway

    prometheus:
      enabled: true
      route:
        main:
          enabled: true
          hostnames: [ "${PROMETHEUS_INGRESS_HOST}" ]
          parentRefs:
            - name: external
              namespace: gateway
          labels:
            cluster.routine.sh/authorization: "authelia"
      prometheusSpec:
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClass: longhorn
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 16Gi

    # monitoring sources
    coreDns:
      enabled: true
    kubeDns:
      enabled: false
    kubeEtcd:
      enabled: true
    kubeProxy:
      enabled: true
    kubeStateMetrics:
      enabled: true
    kubernetesServiceMonitors:
      enabled: true
    kubeApiServer:
      enabled: true
    kubelet:
      enabled: true
    nodeExporter:
      enabled: true
    kubeControllerManager:
      enabled: false
    kubeScheduler:
      enabled: false
    windowsMonitoring:
      enabled: false

    defaultRules:
      create: true
    # customRules:
