# yaml-language-server: $schema=https://json.schemastore.org/kustomization.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: operators-system
resources:
- https://raw.githubusercontent.com/dragonflydb/dragonfly-operator/v1.4.0/manifests/crd.yaml
- cloudnative-pg.yaml
- dragonfly.yaml
- grafana.yaml
- namespace.yaml
- strimzi.yaml
