---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: operators-system
resources:
- https://raw.githubusercontent.com/dragonflydb/dragonfly-operator/v1.3.0/manifests/crd.yaml
- https://raw.githubusercontent.com/dragonflydb/dragonfly-operator/v1.3.0/manifests/dragonfly-operator.yaml
- cloudnative-pg.yaml
- namespace.yaml
- strimzi.yaml
