# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/secret.json
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: immich-config
stringData:
  DB_HOSTNAME: ${POSTGRES_HOSTNAME}
  DB_PORT: "5432"
  DB_USERNAME: immich
  DB_PASSWORD: ${POSTGRES_IMMICH_PASSWORD}
  DB_DATABASE_NAME: immich
  DB_VECTOR_EXTENSION: pgvector
  REDIS_HOSTNAME: dragonfly.immich.svc
  REDIS_PORT: "6379"
  IMMICH_SERVER_URL: http://immich-server.immich.svc:3001
  IMMICH_MACHINE_LEARNING_URL: http://immich-machine-learning.immich.svc:3003
  IMMICH_WEB_URL: http://immich-web.immich.svc:3000
  TRANSFORMERS_CACHE: /usr/src/app/.transformers_cache
