mqtt:
  host: vernemq.home-assistant
  user: "{FRIGATE_MQTT_USERNAME}"
  password: "{FRIGATE_MQTT_PASSWORD}"

database:
  path: /data/frigate.db

detectors:
  cpu1:
    type: cpu

objects:
  track:
  - person
  - car
  filters:
    person:
      min_area: 500
    car:
      min_area: 1000

timestamp_style:
  format: "%Y-%m-%d %H:%M:%S"

record:
  enabled: True
  retain:
    days: 30
  events:
    retain:
      default: 30

snapshots:
  enabled: True
  retain:
    default: 30

cameras:
  garage:
    detect:
      width: 704
      height: 480
      fps: 6

    ffmpeg:
      inputs:
      - path: "rtsp://neolink:8554/garage"
        roles:
        - record
        - rtmp
      - path: "rtsp://neolink:8554/garage/subStream"
        roles:
        - detect

  north_yard:
    detect:
      width: 640
      height: 480
      fps: 7

    # mask without street
    # motion:
    #   mask:
    #   - 414,51,247,73,0,164,0,0,640,0,640,71
    # mask whole street
    motion:
      mask:
      - 438,84,281,150,0,305,0,0,640,0,640,93
    zones:
      driveway:
        coordinates: 0,480,570,480,619,270,175,216,0,313
      yard:
        coordinates: 427,246,534,145,606,136,599,101,493,87,423,95,166,214
      door:
        coordinates: 528,160,619,158,602,266,415,243

    ffmpeg:
      inputs:
      - path: "http://{FRIGATE_CAM_NORTH_ADDRESS}/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=frigate&password={FRIGATE_CAM_NORTH_PASSWORD}"
        roles:
        - record
        - rtmp
      - path: "http://{FRIGATE_CAM_NORTH_ADDRESS}/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=frigate&password={FRIGATE_CAM_NORTH_PASSWORD}"
        roles:
        - detect
      input_args:
      - -avoid_negative_ts
      - make_zero
      - -fflags
      - nobuffer+genpts+discardcorrupt
      - -flags
      - low_delay
      - -strict
      - experimental
      - -analyzeduration
      - 1000M
      - -probesize
      - 1000M
      - -rw_timeout
      - "5000000"
      output_args:
        record: -f segment -segment_time 60 -segment_format mp4 -reset_timestamps 1 -strftime 1 -c copy

  south_yard:
    detect:
      width: 640
      height: 480
      fps: 7

    # mask without street
    # motion:
    #   mask:
    #     - 640,0,640,293,209,0
    #     - 129,0,98,258,0,253,0,0
    # mask whole street
    motion:
      mask:
        - 640,0,640,480,606,480,447,306,291,154,125,0
        - 138,0,137,134,109,138,102,223,0,225,0,0
    zones:
      door:
        coordinates: 211,248,230,365,49,444,21,248
      driveway:
        coordinates: 287,153,390,250,103,250,110,99
      yard:
        coordinates: 239,480,609,480,387,251,207,244
      sideyard:
        coordinates: 292,150,137,110,129,0

    ffmpeg:
      inputs:
      - path: "http://{FRIGATE_CAM_SOUTH_ADDRESS}/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=frigate&password={FRIGATE_CAM_SOUTH_PASSWORD}"
        roles:
        - record
        - rtmp
      - path: "http://{FRIGATE_CAM_SOUTH_ADDRESS}/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=frigate&password={FRIGATE_CAM_SOUTH_PASSWORD}"
        roles:
        - detect
      input_args:
      - -avoid_negative_ts
      - make_zero
      - -fflags
      - nobuffer+genpts+discardcorrupt
      - -flags
      - low_delay
      - -strict
      - experimental
      - -analyzeduration
      - 1000M
      - -probesize
      - 1000M
      - -rw_timeout
      - "5000000"
      output_args:
        record: -f segment -segment_time 60 -segment_format mp4 -reset_timestamps 1 -strftime 1 -c copy

  shed:
    detect:
      width: 640
      height: 480
      fps: 7

    zones:
      driveway:
        coordinates: 555,480,505,257,505,123,545,122,563,0,382,0,197,181,122,480
      sideyard:
        coordinates: 0,423,127,452,203,178,384,0,139,0,0,34

    ffmpeg:
      inputs:
      - path: "http://{FRIGATE_CAM_SHED_ADDRESS}/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=frigate&password={FRIGATE_CAM_SHED_PASSWORD}"
        roles:
        - record
        - rtmp
      - path: "http://{FRIGATE_CAM_SHED_ADDRESS}/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=frigate&password={FRIGATE_CAM_SHED_PASSWORD}"
        roles:
        - detect
      input_args:
      - -avoid_negative_ts
      - make_zero
      - -fflags
      - nobuffer+genpts+discardcorrupt
      - -flags
      - low_delay
      - -strict
      - experimental
      - -analyzeduration
      - 1000M
      - -probesize
      - 1000M
      - -rw_timeout
      - "5000000"
      output_args:
        record: -f segment -segment_time 60 -segment_format mp4 -reset_timestamps 1 -strftime 1 -c copy
