---
apiVersion: v1
kind: ConfigMap
metadata:
  name: garage-config
data:
  garage.toml: |
    replication_factor = 1
    metadata_dir = "/meta"
    data_dir = "/data"
    compression_level = 1
    db_engine = "sqlite"
    metadata_auto_snapshot_interval = "6h"

    rpc_bind_addr = "[::]:3901"
    rpc_public_addr = "127.0.0.1:3901"

    [s3_api]
    api_bind_addr = "[::]:3900"
    s3_region = "us-central-1"
    root_domain = ".s3.${CLUSTER_DOMAIN}"

    [s3_web]
    bind_addr = "[::]:3902"
    root_domain = ".web.${CLUSTER_DOMAIN}"
    index = "index.html"

    [admin]
    api_bind_addr = "[::]:3903"
---
apiVersion: v1
kind: Secret
metadata:
  name: garage-secret
stringData:
  GARAGE_ADMIN_TOKEN: "${GARAGE_ADMIN_TOKEN}"
  GARAGE_METRICS_TOKEN: "${GARAGE_METRICS_TOKEN}"
  GARAGE_RPC_SECRET: "${GARAGE_RPC_SECRET}"
